<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:mySql.properties</value>
			</list>
		</property>
	</bean>
	<!--  -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${driverClass}"></property>
		<property name="jdbcUrl" value="${jdbcUrl}"></property>
		<property name="user" value="${user}"></property>
		<property name="password" value="${password}"></property>
	</bean>
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:configration.xml"></property>
	</bean>
	<!-- dao -->
	<bean id="cardDao" class="com.lengtoo.impress.dao.mybatis.impl.LengtooCardImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="gameDao" class="com.lengtoo.game.dao.impl.LengtooGameImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="wallPaperDao" class="com.lengtoo.impress.dao.mybatis.impl.LengtooWallpaperImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- service -->
	<bean id="gameService" class="com.lengtoo.game.service.impl.LengtooGameServiceImpl">
		<property name="dao" ref="gameDao"></property>
	</bean>
	<bean id="cardService" class="com.lengtoo.impress.service.impl.LengtooCardServiceImpl">
		<property name="dao" ref="cardDao"></property>
	</bean>
	<bean id="wallpaperService" class="com.lengtoo.impress.service.impl.LengtooWallpaperServiceImpl">
		<property name="dao" ref="wallPaperDao"></property>
	</bean>
	<!-- action -->
	<bean name="/lengtoocardlist" class="com.lengtoo.impress.web.struts1.action.ShowLengtooCardList">
		<property name="service" ref="cardService"></property>
	</bean>
	<bean name="/lengtoowallpaperlist" class="com.lengtoo.impress.web.struts1.action.ShowLengtooWallpaperList">
		<property name="service" ref="wallpaperService"></property>
	</bean>
	<bean name="/gamerankinglist" class="com.lengtoo.game.web.action.ShowGameRankingList">
		<property name="service" ref="gameService"></property>
	</bean>
	<bean name="/addgameranking" class="com.lengtoo.game.web.action.AddLengtooGameRanking">
		<property name="service" ref="gameService"></property>
	</bean>
<!-- web admin -->
	<!-- card -->
	<bean name="/web/lengtoocardlist" class="com.lengtoo.impress.web.struts1.action.web.card.ShowLengtooCardList_web">
		<property name="service" ref="cardService"></property>
	</bean>
	<bean name="/web/updatecardonshow" class="com.lengtoo.impress.web.struts1.action.web.card.UpdateLengtooCardOnShow">
		<property name="service" ref="cardService"></property>
	</bean>
	<bean name="/web/deletecard" class="com.lengtoo.impress.web.struts1.action.web.card.DeleteLengtooCard">
		<property name="service" ref="cardService"></property>
	</bean>
	<bean name="/web/uploadlengtoocard" class="com.lengtoo.impress.web.struts1.action.web.card.UploadLengtooCard">
		<property name="service" ref="cardService"></property>
	</bean>
	<!-- wallpaper -->
	<bean name="/web/lengtoowallpaperlist" class="com.lengtoo.impress.web.struts1.action.web.wallpaper.ShowLengtooWallpaperList_web">
		<property name="service" ref="wallpaperService"></property>
	</bean>
	<bean name="/web/updatewponshow" class="com.lengtoo.impress.web.struts1.action.web.wallpaper.UpdateLengtooWallpaperOnShow">
		<property name="service" ref="wallpaperService"></property>
	</bean>
	<bean name="/web/deletewp" class="com.lengtoo.impress.web.struts1.action.web.wallpaper.DeleteLengtooWallpaper">
		<property name="service" ref="wallpaperService"></property>
	</bean>
	<bean name="/web/uploadlengtoowp" class="com.lengtoo.impress.web.struts1.action.web.wallpaper.UploadLengtooWallpaper">
		<property name="service" ref="wallpaperService"></property>
	</bean>
<!-- client2.0 -->
 <!-- dao2.0 -->
	<bean id="authorDao" class="com.lengtoo.impress.dao.mybatis.impl.LengtooAuthorImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="chartletillustrationDao" class="com.lengtoo.impress.dao.mybatis.impl.LengtooChartletIllustrationImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="chartletDao" class="com.lengtoo.impress.dao.mybatis.impl.LengtooChartletImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="chartletpackageDao" class="com.lengtoo.impress.dao.mybatis.impl.LengtooChartletpackageImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="chartletrollimgDao" class="com.lengtoo.impress.dao.mybatis.impl.LengtooChartletrollimgImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="emojiDao" class="com.lengtoo.impress.dao.mybatis.impl.LengtooEmojiImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="emojipackageDao" class="com.lengtoo.impress.dao.mybatis.impl.LengtooEmojipackageImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="emojirollimgDao" class="com.lengtoo.impress.dao.mybatis.impl.LengtooEmojirollimgImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
 <!-- service2.0 -->
	<bean id="authorService" class="com.lengtoo.impress.service.impl.LengtooAuthorServiceImpl">
		<property name="dao" ref="authorDao"></property>
	</bean>
	<bean id="illustrationService" class="com.lengtoo.impress.service.impl.LengtooChartletIllustrationServiceImpl">
		<property name="dao" ref="chartletillustrationDao"></property>
	</bean>
	<bean id="chartletpackageService" class="com.lengtoo.impress.service.impl.LengtooChartletpackageServiceImpl">
		<property name="dao" ref="chartletpackageDao"></property>
	</bean>
	<bean id="chartletrollimgService" class="com.lengtoo.impress.service.impl.LengtooChartletrollimgServiceImpl">
		<property name="dao" ref="chartletrollimgDao"></property>
	</bean>
	<bean id="chartletService" class="com.lengtoo.impress.service.impl.LengtooChartletServiceImpl">
		<property name="dao" ref="chartletDao"></property>
	</bean>
	<bean id="emojipackageService" class="com.lengtoo.impress.service.impl.LengtooEmojiPackageServiceImpl">
		<property name="dao" ref="emojipackageDao"></property>
	</bean>
	<bean id="emojirollimgService" class="com.lengtoo.impress.service.impl.LengtooEmojirollimgServiceImpl">
		<property name="dao" ref="emojirollimgDao"></property>
	</bean>
	<bean id="emojiService" class="com.lengtoo.impress.service.impl.LengtooEmojiServiceImpl">
		<property name="dao" ref="emojiDao"></property>
	</bean>
 <!-- action2.0 -->
	<bean name="/client2.0/getChartletByPid" class="com.lengtoo.impress.web.struts1.action.client2.ShowAllCahrtletByPackageid">
		<property name="aService" ref="authorService"></property>
		<property name="cService" ref="chartletService"></property>
		<property name="iService" ref="illustrationService"></property>
	</bean>
	<bean name="/client2.0/getEmojiByPid" class="com.lengtoo.impress.web.struts1.action.client2.ShowAllEmojiByPackageid">
		<!-- <property name="aService" ref="authorService"></property> -->
		<property name="eService" ref="emojiService"></property>
	</bean>
	<bean name="/client2.0/getChartletpackage" class="com.lengtoo.impress.web.struts1.action.client2.ShowAllChartletPackage">
		<property name="cService" ref="chartletpackageService"></property>
	</bean>
	<bean name="/client2.0/getEmojipackage" class="com.lengtoo.impress.web.struts1.action.client2.ShowAllEmojiPackage">
		<property name="eService" ref="emojipackageService"></property>
	</bean>
	<bean name="/client2.0/getChartletrollimg" class="com.lengtoo.impress.web.struts1.action.client2.ShowChartletRollimg">
		<property name="cService" ref="chartletrollimgService"></property>
	</bean>
	<bean name="/client2.0/getEmojirollimg" class="com.lengtoo.impress.web.struts1.action.client2.ShowEmojiRollimg">
		<property name="eService" ref="emojirollimgService"></property>
	</bean>
</beans>