<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:mySql.properties</value>
			</list>
		</property>
	</bean>
	<!--  -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${driverClass}"></property>
		<property name="jdbcUrl" value="${jdbcUrl}"></property>
		<property name="user" value="${user}"></property>
		<property name="password" value="${password}"></property>
	</bean>
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:configration.xml"></property>
	</bean>
	<!-- dao -->
	<bean id="cardDao" class="com.lengtoo.impress.dao.mybatis.impl.LengtooCardImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="gameDao" class="com.lengtoo.game.dao.impl.LengtooGameImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="wallPaperDao" class="com.lengtoo.impress.dao.mybatis.impl.LengtooWallpaperImpl">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- service -->
	<bean id="gameService" class="com.lengtoo.game.service.impl.LengtooGameServiceImpl">
		<property name="dao" ref="gameDao"></property>
	</bean>
	<bean id="cardService" class="com.lengtoo.impress.service.impl.LengtooCardServiceImpl">
		<property name="dao" ref="cardDao"></property>
	</bean>
	<bean id="wallpaperService" class="com.lengtoo.impress.service.impl.LengtooWallpaperServiceImpl">
		<property name="dao" ref="wallPaperDao"></property>
	</bean>
	<!-- action -->
	<bean name="/lengtoocardlist" class="com.lengtoo.impress.web.struts1.action.ShowLengtooCardList">
		<property name="service" ref="cardService"></property>
	</bean>
	<bean name="/lengtoowallpaperlist" class="com.lengtoo.impress.web.struts1.action.ShowLengtooWallpaperList">
		<property name="service" ref="wallpaperService"></property>
	</bean>
	<bean name="/gamerankinglist" class="com.lengtoo.game.web.action.ShowGameRankingList">
		<property name="service" ref="gameService"></property>
	</bean>
	<bean name="/addgameranking" class="com.lengtoo.game.web.action.AddLengtooGameRanking">
		<property name="service" ref="gameService"></property>
	</bean>
</beans>